.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

public/assets/cache/*
!public/assets/cache/index.html

public/assets/uploads/*
!public/assets/uploads/index.html
